:root{
--main-font: Roboto ,sans-serif;
--main-txt-cl: #212121;
--secondary-font: Raleway;
--accent-txt-cl: #2196F3;
--background-page: #2F303A;
--secondary-tx-cl: #757575;
--white-tx-cl:#FFFFFF;
}
.page{
color: var(--main-txt-cl);
text-decoration: none;
font-family: var(--main-font);
font-size: 14px;
}
.accent{
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    
    letter-spacing: 0.03em;
    
    color: var(--accent-txt-cl);
}
.logo{
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    
    letter-spacing: 0.03em;
    
    color: var(--main-txt-cl);
}

.link{
    text-decoration: none;
    color: currentColor;
}
.list{
    list-style: none;
    
}

.header .link{
    font-weight: 500;
    
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--main-txt-cl);
}
.header .link:hover,
.header .link:focus{
    
   color: var(--accent-txt-cl);
   
}
.header .link.current{
    color: var(--accent-txt-cl);
}
.hero{
    background: var(--background-page);
    
}
.hero .btn{
    background-color: rgb(90, 177, 206);
    
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white-tx-cl);
    cursor: pointer;
    
}
.title{
    color: var(--white-tx-cl);
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.subtitle{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-txt-cl);
}
.text{
    font-family: var(--main-font);
    
    
    line-height: calc(24 / 14);
    line-height: 19px;
    
    letter-spacing: 0.03em;

    color: var(--secondary-tx-cl);
}
.desc{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-tx-cl);
}
.subject{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}
.team-subtitle{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}
.main-btn{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-txt-cl);
}
.main-btn:hover,
.main-btn:focus{
    background-color: rgb(90, 177, 206);
    color: var(--white-tx-cl);
}
.caption{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    color: var(--main-txt-cl);
}
.team-list{
    list-style: none;
}  
footer{
    list-style: none;
    font-family: var(--main-font);
}
.list-item-tel .link,
.list-item-mail .link{
    color: var(--secondary-tx-cl);
}
.footer-list{
    font-style: normal;
    list-style: none;
}
.list-text{
    font-family: var(--main-font);
    font-size: 16px;
    line-height: calc(30 / 16);


    letter-spacing: 0.03em;

    color:var(--secondary-tx-cl);
}